@import "tailwindcss";
@import "./header.css";

@font-face {
  font-family: story;
  src: url("../../../public/fonts/StoryScript-Regular.ttf");
}

html {
  font-size: 16px;
}

@theme {
  --*: initial;
  --font-story: story;

  --color-primary: #575d60;
  --color-yellow: #ffcc47;
  --color-blue: #b8c8d5;
  --color-gray: #d6dbde;
  --color-red: #d65368;
  --color-white: #f7f7f7;

  --text-small: 0.9rem;
  --text-base: 1rem;
  --text-large: 2rem;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280;
  --breakpoint-2xl: 1536px;

  --spacing-0: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-22: 22px;
  --spacing-24: 24px;
  --spacing-26: 26px;
  --spacing-28: 28px;
  --spacing-30: 30px;
  --spacing-32: 32px;
  --spacing-34: 34px;
  --spacing-50: 50px;
  --spacing-80: 80px;
}

body {
  @apply box-border;
}
