@import "tailwindcss";
@import "./header.css";
@import "./hero.css";
@import "./highlights.css";

:root {
  --primary-color: #575d60;
  --yellow-color: #ffcc47;
  --blue-color: #b8c8d5;
  --gray-color: #d6dbde;
  --red-color: #d65368;
  --white-color: #f7f7f7;
  --solid-white-color: white;
}

@font-face {
  font-family: story;
  src: url("../../../public/fonts/StoryScript-Regular.ttf");
}

html {
  @apply bg-white;
  font-size: 16px;
}

@theme {
  --*: initial;
  --font-story: story;

  --color-primary: var(--primary-color);
  --color-yellow: var(--yellow-color);
  --color-blue: var(--blue-color);
  --color-gray: var(--gray-color);
  --color-red: var(--red-color);
  --color-white: var(--white-color);
  --color-solid-white: var(--solid-white-color);

  --text-small: 0.9rem;
  --text-base: 1rem;
  --text-larger: 1.2rem;
  --text-large: 2rem;
  --text-big: 3rem;

  --font-weight-normal: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;

  --blur-set: 10px;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280;
  --breakpoint-2xl: 1536px;

  --radius-s: 1rem;
  --radius-l: 2rem;

  --spacing-1rem: 1rem;
  --spacing-2rem: 2rem;
  --spacing-0: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-22: 22px;
  --spacing-24: 24px;
  --spacing-26: 26px;
  --spacing-28: 28px;
  --spacing-30: 30px;
  --spacing-32: 32px;
  --spacing-34: 34px;
  --spacing-50: 50px;
  --spacing-80: 80px;
}

* {
  @apply box-border;
}
